body {
  background: black;
}

.videoContainer {
  width: 100vw;
  height: 100vh;
}

.imgContainer {
  /* height: 100vh; */
}

.paprika {
  height: 50%;
}

.videoBody {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.riddles {
  margin-top: 5vh;
  height: 90%;
  width: 90%;
}

.escalator {
  height: 100%;
  width: 100%;
}
